/* Features
================================================== */

#features .button-jumpTop{
	/*
	position:fixed;
	right:0px;
	bottom:0px;
	width: 40px;
   
	font-size:10px;
	text-decoration:none;
	_display:none;
	background: rgba(0,0,0,0.6);
	padding: 10px 10px 10px 10px; */
	
}
#features .button-jumpTop:hover{
background: #272725 ;
}

/*Makes Arros with CSS for JumpButton */
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFFF;
}


#features .button-login{
	font-size: 12px;
	position: fixed; /* absolute */ 
    top: 0;
    left: 0;
	margin-left : 180px;
	margin-top: 5px;
	background: rgba(0,0,0,0.3);
	padding: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#features .button-translateText:hover{
background: #272725 ;
}
#features .button-translateText a:active{
color: #FFFFFF ;
}

#features .button-searchfield {
  
}

#features .button-calendar {
  

}

#features .button-calendar {
  

}


#features .button-location {
  

}